body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    max-width: 640px;
    margin: 50px auto 0 auto;
    border: 1px solid #65ba6b55;
    padding: 10px;
}

.logo {
    width : 15vw; 
}


h1 {
    font-size: 1.8rem ;
    margin-bottom: 0;
}

h2 {
    font-size: 1.0rem ;
    font-weight: normal;
    margin-top: 0;
    color: green;
}

form {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.double-input input {
    width: 47.2%;
    
}

.large-input input{
    width: 97%;

}

.double-input input, .large-input input {
    padding: 5px 5px;
    background-color: #f5f6f7;
    border : 1px solid #ccd0d5;
    border-radius : 5px;
    margin-bottom: 6px;
}

legend { /* chama só o element e não um nome que poderia ter sido dado com .nome */
    font-size: 0.8rem; 
    /* tamanho de letre de legend muda */
}

select {
    width: 32%;
    margin-right: 5px;
    padding: 5px 6px;
    background-color: #FFF;
}

.gender-selection fieldset {
    padding : 20px 10px;
    
}

.gender-selection label {
    border : 1px solid #ccd0d5;
    padding : 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.gender-selection select {
    width:100%;
    margin: 8px 0;
}

.gender-selection p {
    color : #606770;
    margin :0 0 8px 0;
    font-size : 0.7rem;
}

.form-submit {
    margin: 20px 0;
    text-align: center;

}

.form-submit button{
    background-color: rgb(51, 118, 80);
    color: aliceblue;
    width: 150px;
    padding: 8px 30px;
    border: none;
    border-radius:5px;
}